{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4 class="text-center mb-4">Shopping Cart</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2">Cart Items</th>
                            <th>Details</th>
                            <th>Subtotal</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in c %}
                            <tr>
                                <td>
                                    <img src="{{ item.product.image.url }}" height="150px" width="150px" class="img-fluid">
                                </td>
                                <td>
                                    <h6>{{ item.product.name }}</h6>
                                </td>
                                <td>
                                    <p>Product Id: {{ item.product.id }}</p>
                                    <p>Unit Price: {{ item.product.price }}</p>
                                    <p>Quantity: {{ item.quantity }} * {{ item.product.price }}</p>
                                </td>
                                <td>{{ item.subtotal }}</td>
                                <td>
                                    {% if item.product.stock > 0 %}
                                        <a href="{% url 'cart:addtocart' item.product.name %}"><i class="fa-solid fa-circle-plus text-secondary fs-5"></i></a>
                                        <a href="{% url 'cart:cart_remove' item.product.name %}"><i class="fa-solid fa-circle-minus text-secondary fs-5"></i></a>
                                        <a href="{% url 'cart:cart_trash' item.product.name %}"><i class="fa-solid fa-trash text-secondary fs-5"></i></a>
                                    {% else %}
                                        <a href="{% url 'cart:cart_remove' item.product.name %}"><i class="fa-solid fa-circle-minus fs-5"></i></a>
                                        <a href="{% url 'cart:cart_trash' item.product.name %}"><i class="fa-solid fa-trash fs-5"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="col-md-4 mt-4 mt-md-0">
            <h4 class="text-center mb-4">Check Out</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2">Check Out</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TOTAL: {{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="{% url 'cart:orderform' %}" class="btn btn-danger w-100 mb-2">Place Order</a>
            <a href="{% url 'shop:cate' %}" class="btn btn-secondary w-100">Continue Shopping</a>
        </div>
    </div>
</div>


{% endblock %}